*{
    font-family: 'Courier New', Courier, monospaces;
}

.logo{
    width: 88px;
    height: 88px;
    padding-right: 5px;
}


.header{
    font-family: fantasy;
    color: black;
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
    position: fixed;
    top: 0;
    width: 100%;
}

.inf_block_1 {
    display: inline-block;
    padding: 10px;
}

.inf_block_2 {
    display: none;
    font-size: 15px;
    padding-left: 10px;
}

.inf_block_1:hover .inf_block_2 {
    display: block;
}

.main_content{
    margin-top: 90px;
    /* display: flex;
     flex-wrap: wrap;*/
    width: 100%;

}

.graph{
    display: inline-block;
    position: relative;
    margin-right: 50px;
    margin-left: 40px;
    margin-top: 60px;
    width: 400px;
    height: 400px;
    background: white;
}

.data{
    position: relative;
    display: inline-block;
    margin-top: 60px;
    top: -25px;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
    text-align: left;
    margin-left: 50px;
    padding-right: 20px;
    height: 400px;
    font-size: 20px;
    width: 50%;


}

.Error_text {
    background-image: url("../img/y.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 20px;
}

input::placeholder{
    color: black;
    font-size: 1em;
    font-style: italic;
}



.title_of_form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold ;
    margin-bottom: 20px;

}


button{
    border: 1px solid rgba(250, 50, 50, .3);
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
}

.submitButton{
    border: 1px solid rgba(250, 50, 50, .3);
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
    font-weight: bold ;
    border-radius: 60px;
    display: flex;
    margin: auto;
    font-size: 20px;
    padding: 5px 5px;

}


#x_value{
    border: 1px solid rgba(250, 50, 50, .3);
    box-shadow: 0px 0px 7px rgba(250, 50, 50, .4);
}
.r_value{
    margin-bottom: 20px;
}
.show{
    display: flex;
    flex-direction: row;
}


.y_value{
    display: flex;
    justify-content: space-between;
}

select {
    border: 1px solid rgba(250, 50, 50, .3);
    box-shadow: 0px 0px 7px rgba(250, 50, 50, .4);

}

.results{

    position: relative;
    top: 100px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 9px rgba(250, 50, 50, .4);
}


#result_table{
    width: 100%;
}

.footer{
    position: relative;
    width: 100%;
    top: 100px;
    margin-top: 50px;
    text-align: center;
    bottom: 0;
    padding: 10px;

}

svg {
    fill: none;
}

.blocks_of_data{
    margin-top: 20px;
    margin-bottom: 20px;
}


th,td{
    border: 1px solid rgba(250, 50, 50, .4);
}

.reset{
    margin-left: auto;
    width: 40px;
    margin-right: 20px;
    margin-top: 10px;
}

.reset_button{
    border: 1px solid rgba(250, 50, 50, .3);
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
    border-radius: 5px;

}

#jxgbox {
    width: 400px;
    height: 400px;
}